os: linux
dist: xenial
sudo: required
language: java
jdk:
  - openjdk11

services:
  - docker

cache:
  directories:
    - $HOME/.m2
# the cache can grow constantly
before_cache:
  - rm -rf $HOME/.m2/repository/org/alfresco

branches:
  only:
    - master
    - /support\/.*/
    - feature/repo-4736-release_stage

#stages:
#  - test
#  - release
#  - publish

# This should not be required on community build
before_install:
  - "cp .travis.settings.xml $HOME/.m2/settings.xml"

jobs:
  include:
    - stage: release
      name: "Release"
      jdk: openjdk11
      if: fork = false AND (branch = feature/repo-4736-release_stage OR branch = master OR branch =~ /support\/.*/) AND type != pull_request AND commit_message !~ /\[no-release\]/
      install:
        - ./scripts/verify-git-tags.sh
      script:
        # Use full history for release
        - git checkout -B "${TRAVIS_BRANCH}"
        # Add email to link commits to user
        - git config user.email "${GIT_EMAIL}"
        - docker login quay.io -u ${DOCKER_USERNAME} -p ${DOCKER_PASSWORD}
        # Skip building of release commits
#        - travis_wait 30 mvn --batch-mode -DscmCommentPrefix="[maven-release-plugin][skip ci] " -Dusername="${GIT_USERNAME}" -Dpassword="${GIT_PASSWORD}" -DreleaseVersion=repo-4736-5 -DdevelopmentVersion=6.3.0-SNAPSHOT -DskipTests -Darguments="-DskipTests" -Prelease release:clean release:prepare release:perform  # As on bamboo - Result: Doesn't work, single error without cause "Error while trying to build the image"
        - travis_wait 30 mvn -B -DskipTests -Prelease clean install # This built and deployed the image to quay successfully when release was bound to install phase in the f8 plugin's release profile config
#        - travis_wait 30 mvn -B -DskipTests -Darguments="-DskipTests" -Prelease -X -DscmCommentPrefix="[maven-release-plugin][skip ci] " -Dusername="${GIT_USERNAME}" -Dpassword="${GIT_PASSWORD}" -DdevelopmentVersion=6.3.0-SNAPSHOT -DreleaseVersion=repo-4736-8 -DdryRun release:clean release:prepare # Try running f8 on install phase (configured in the plugin's release profile) together with the maven release plugin in dryRun mode - Result: no errors, but image didn't get pushed to quay